
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron" style="width: 82em; word-wrap: break-word;">
            <h1>This the Token</h1>
            <p><%= global_data %></p>
        </div>
    
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>