
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is The Callback Page</h1>
            <p>Click her to get your Token</p>
            <a href="/token"><button class="btn btn-primary" >Get The Token</button></a> 
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>